
button{
    cursor: pointer;
    
}

.my_cart {
    height: 800px;
    padding-top: 40px;
    padding-left: 40px;
    display: flex;
    position: relative;
    
}

.cart_img{
    width: 150px;
    height: 200px;
    margin-right: 35px;
}

.btn_container{
    width: 300px;
    height: 100px;
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
}
.continuebtn{
    background-color: white;
    border-color: green;
    color: green;
    height: 50px;
    width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 1;
}
.checkoutbtn{
    background-color: green;
    border-color: goldenrod;
    color: white;
    height: 50px;
    width: 400px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 1;

}

.trash{
    color: palevioletred;
    width: 20px;
    height: 20px;
    border: none;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
   position: absolute;
   top:0px;
   right:0px;
}

.whole_cart{
    
        font-size: 10px;
        /* width: 300px; */
        margin-left: 0px  auto; 
         margin-right: 0px auto; 
         margin-bottom: 300px;   
         background: rgba(255,255,255,0.9);
         padding: 30px; 
         -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
         box-shadow: 0 1px 2px rgba(0,0,0,0.15);
         -webkit-border-radius: 5px;
         -moz-border-radius: 5px;
         -ms-border-radius: 5px;
         -o-border-radius: 5px;
         border-radius: 5px;
   
         height: 100%;
         width: 40%;
         position: relative;
         display: block;
         justify-content: center;
        /* margin-bottom: 25%; */
}
.cartletter{
    font-size: 30px;
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    text-align: center;
   
}


.cart_container{
      font-size: 10px;
      width: 300px;
      /* margin-right: 15%;  */
      margin-top: 30px;
      margin-left: 190px;
      background: rgba(255,255,255,0.9);
      padding: 30px; 
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      height: 200px;
      position: relative;
      display: flex;
      justify-content: center;
    
      /* max-width: 60%;
      max-height: 40%; */
      /* margin-left: 170px;*/
      /* margin-top: 50px;
      margin-bottom: 50px; */
}

.message{
    display: flex;
    margin-left: 100px;
}
.royal{
    text-align: center;
    height: 5%;
    width: 100%;
    text-transform: uppercase;
}
.logo2 img{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
  }
.stripeRight{
    position: relative;
    /* margin-left: 50%;  */
    height: 20%;
    width: 100%;
    justify-content: center;
    text-align: center;
}


.checkoutContainer{
    width: 40%;
     background: rgba(255,255,255,0.9);
     padding: 30px; 
     -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
     box-shadow: 0 1px 2px rgba(0,0,0,0.15);
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     border-radius: 5px;

     height: 50%;
     position: relative;
     display: inline-block;
     /* margin-top: -80px; */
  
      /* margin-bottom: 70%;*/
      margin-left: 5%;
      
}

.totalcontainer{
    width: 200px;
    background: rgba(255,255,255,0.9);
    padding: 30px; 
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

    height: 100px;
    position: relative;
    display: flex; 
    margin-top: 20px;
    justify-content: center;
    margin-left:20%;
     /* margin-bottom: 70%;*/   
}

.total {
  text-align: center;
}

/* @media (max-width: 1023px){
    body {
        height: 100%;
} */
/*  
@media(max-width: 979px){
    body {
        padding-top: 0;
} */



