.producttitle{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: darkgrey;
    font-size: 40px;

}
span:hover{
    color: white;
    background-color: pink;
}


.product-list{
    padding-top: 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-around; 
    margin-bottom: 150px;
  }
.ProductLandingPage{
    height: 1200px;
}

.Bridal_Collection {
    background-image:
        url("http://img.davidsbridal.com/is/image/DavidsBridalInc/ZP341835_IVORY_ZP_PROD10_008?$plpproductimgdesktop_3up$");
    background-repeat: no-repeat;
    height: 600px;
    width: 400px;
    background-position: center; 
    text-align: center;
}


.DesignerP{
    background-image:
        url("http://img.davidsbridal.com/is/image/DavidsBridalInc/VW351346_IVORY_VW_S17PROD_001?$plpproductimgdesktop_3up$");
        background-repeat: no-repeat;
        height: 600px;
        width: 400px;
        background-position: center; 
        text-align: center;
}
.Formal_Gown{
    background-image:
    url("http://img.davidsbridal.com/is/image/DavidsBridalInc/1711P2381%20AQUANUDE?$plpproductimgdesktop_3up$");
    background-repeat: no-repeat;
    height: 600px;
    width: 400px;
    background-position: center; 
    text-align: center;

}


.prom{
    background-image: 
        url("http://img.davidsbridal.com/is/image/DavidsBridalInc/1711P2703%20LAVENDERMULTI?$plpproductimgdesktop_3up$");
        background-repeat: no-repeat;
        height: 600px;
        width: 400px;
        background-position: center;
        text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .producttitle{
        font-size: 20px;
    }
    .ProductLandingPage{
        height: 400px;
    }
    .Bridal_Collection,.DesignerP,.Formal_Gown,.prom, img{
        height: 300px;
        width: 550px;
        font-size: 9px; 
        background-size:100%;
        margin-bottom: 3%;
         /* margin-top: -6%; */
    }
    .product-list{
        padding-bottom: 10%; 
        margin-bottom: 150px;
        margin-top: -6%;
      }
   
  }