
/* .product-list_BC{
  padding-top: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
} */


.product_list_BC{
  padding-top: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  display: flex;
  /* justify-content: space-around;
 text-align: center; 
 flex-grow: 3;
 display: block; */
}

 