.bridal_collection{
    height: 370px;
}
.product_list{
    padding: 50px;
    height: 600px;
    width: 400px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    display: inline-block;
    text-align: center;
  }

  h3{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
  }