.About-title {
  color: black;
  font-size: 55px;
  font-family: Brush Script MT;
  position: relative;
  height: 100%;
  width: 100%;
  border: solid white 10px;
  text-align: center;
  }

 .container{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    position: relative;
    height: 650px;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border: 8px solid palevioletred;
    background-color: white;
    color: gray;
 }