.logo img{
  width: 110px;
  height: 120px;
  display: block;
  margin: 0 auto;
}

.links a{
  text-align: center;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}
  .links a:hover{
    color: white;
    background-color: darkgrey;
  }

 .button1,.button2{
  height: 46px;
  width: 166px;
  text-transform: uppercase;
  background-color:palevioletred;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  left: 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 1;
}

 .search {
  /* margin-top: 1%;
  margin-right: 220%; */
  position:absolute;
  top:15px;
  right:16%;
  cursor: pointer;
 }
 .search{
   text-transform: uppercase;
   background-color: palevioletred;
   color: white;
   padding: 10px 16px;
   margin: 30px 55px 30px 30px; 
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   font-size: 16px;
   z-index: 2;
 }
 /* .search input{
  padding: 10px 16px;
 }  */
.nav_container div{
        display: flex;
        position: relative;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        letter-spacing: 1px;
        color: white;
        height:40px;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
    border-top: solid 0px;
    border-left: solid 0px;
    border: solid 0px;
}
.cart{
  margin: 4px 2px;
  color: palevioletred;
  width: 30px;
  height: 30px;
  border: none;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 60px;
}
.home{
  color: black;
  width: 30px;
  height: 30px;
}

/* @media(min-width: 500px){
 
} */



@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .frontpage {
      width: 100%;
  }
  .logo img, button, input{
    max-width: 100%;
    height: auto;
  }
}
  /* @media (min-width:800px){
      .Home-Image{
        max-width: 100%;
        height: 300px;
    }
   */



