img{
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto;
}
 .links a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
  }
  .links a:hover{
    color: white;
    background-color: darkgrey;
  }
 /* .loginNInput div{
    display: block;
    /* position: relative;
    justify-content: center;
    padding-left: 150px;
    padding-right: 50px;
    height: 30px; */
    /* border-radius: 300px; */
    /* margin: 0 auto;
 } */ 
 .c{
   position: absolute;
   right: 150px;
   padding-top: 30px;

 }
 /* .login{
    position: absolute;
    left: 50px;
    /* background-color: gray; */
    /* padding-top: 20px;
 } */ 
 .button button{
  text-transform: uppercase;
  background-color: pink;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /* cursor: pointer; */
  margin: 3px 44px;
}
 .search{
  position: absolute;
  right: 550px;
  width: -2px;
  /* background-color: gray; */
  padding-top: 30px;
 }
.nav_container div{
        display: flex;
        position: relative;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        letter-spacing: 1px;
        color: white;
        height:40px;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
    border-top: solid 0px;
    border-left: solid 0px;
    border: solid 0px;
}
