
    .Home-title{
      color: white;
      font-size: 55px;
      font-family: Brush Script MT;
      position: relative;
      height: 100%;
      width: 100%;
      border: solid white 10px;
      background-size:100%;
      background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX19018862.jpg");
      background-repeat: no-repeat;
      text-align: center;
    }
  
    .Home-body {
      position: relative;
      color: white;
      font-size: 45px;
      font-family: cursive;
      height: 1390px;
      text-align: center;
      background-image: url("https://apis.xogrp.com/media-api/images/180eca4e-eaf7-41d4-8f17-6d0f781a9a82~rs_768.h");
      background-repeat: no-repeat;
      background-size: 1890px;
      background-position: center; 
    }
  .Home-Image {
    height: 1390px;
    text-align: center;
    background-image: url("https://www.metro.us/sites/default/files/main/articles/2017/03/30/wedding-trends-cover_1.jpg");
    background-repeat: no-repeat;
    background-size: 1890px;
    background-position: center;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .Home-title{
        height: 100%;
    }
  }