.title {
  color: black;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  position: relative;
  height: 100%;
  width: 100%;
  border: solid white 10px;
}
@media only screen and (max-width: 768px) {
  .title {
    font-size: 40px;
    margin-left: 55%;
  }
}

.contactContainer {
  color: gray;
  font-size: 25px;
  text-align: center;
  width: 40%;
  margin-left: 27%;
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.9);
  padding: 50px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
