.Contact-title {
  color: white;
  font-size: 55px;
  font-family: Brush Script MT;
  position: relative;
  height: 100%;
  width: 100%;
  border: solid white 10px;
  text-align: center;
  }

span .body{
    padding-top: 50px;
    position: relative;
    height: 1000px;
    align-items: center;
}