.connect{
    display: flex;
    position: relative;
    justify-content: center;
    color:black;
    font-size: 15px;
    padding-top: 15px;
    
}

/* .footer{
    display: inline-flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    height:45px;
    background-color:lightgrey;
} */
.social{
    display: inline-block;
    justify-content: space-between;
    position: relative;
    padding: 15px;
    color: white;
    /* background-color: transparent; */
    background-color: lightgray;
    width: 100%;
}

.icon{
    display: inline-block;
    justify-content: space-around;
    padding-right: 40px;
    width: 20px;
    height: 20px;
    color: black;
    text-decoration: none;

}


.nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.copyright{
    font-size: 7px;
    color: black;
}
/* @media(min-width: 500px){
    
   } */