/* .prom_list{
        height: 1250px;
        padding-top: 50px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        justify-content: space-around;
       text-align: center; 
       flex-grow: 3;
       display: block;
} */
.productList{
        display: flex;
        position: relative;
        /* justify-content: center; */
        height: 50%;
        width: 100%;
        /* flex-direction:column; */
}
#productImage{
        height:85%;
        width: 55%;
      }
      #prom{
        padding-top: 5%;
        padding-left: .3%;
        height:50%;
        width: 26%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        text-align:center;
      }