
.productList{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 15%;
        margin-left: 15%;
}
#productImage{
        height:85%;
        width: 55%;
      }
      #prom{
        padding-top: 2%;
        padding-left: .3%;
        height:50%;
        width: 26%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        position: relative;
        text-align:center;
        margin-bottom: 5%;
      }

      @media only screen and (max-width: 768px){
        #prom{
          padding-top: 2%;
          height:100%;
          width: 100%;
          margin-top: 5%;
          margin-bottom: 15%;
        }
        .shopTitle{
          margin-top: 5%;
          font-size: 12px;
        }
        .productList{
          margin-top: 5%;
         height: 100%;
         margin-bottom: 30px;
        }
      }